@model SaturdaysChild.Models.ViewModels.DetailBlogViewModel
@{
    ViewBag.Title = "Detail";
}

<div class="content-div">
    <table>
        <tr>
            <th>@Html.LabelFor(a => a.Title)</th>
            <td>@Model.Title</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(a => a.EntryDate)</th>
            <td>@Model.EntryDate.ToShortDateString()</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(a => a.Author)</th>
            <td>@Model.Author</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(a => a.Entry)</th>
            <td>@Model.Entry</td>
        </tr>
    </table>
</div>

